body {
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

wrapper {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: fit-content;
    border: 3px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 3px;
    margin: 2;
    background-color: rgb(194, 194, 194);
}

.warnMsg{
    color: red;
    font-size: 15px;
    font-style: italic;
    display: none;
}

.input {
    display: grid;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input input {
    width: 350px;
    padding: 10px ;
    border: 2px solid black;
    border-radius: 3px;
}

.bottom {
    margin-top: 5px;
    display:flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
}

.button input {
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    position:relative;
    bottom: 0;
    left: 0;
    border: 3px solid rgb(9, 97, 97);
    border-radius: 50px;
    background-color: aqua;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button input:hover{
    font-weight: bold;
    background-color: rgb(121, 255, 255);
    border-color: rgb(13, 139, 139);
}

.link {
    position: relative;
    left: 50px;
    top: 20px;
}

.link a{
    color: black;
    padding: 2px;
    margin: 2px;
    justify-content: center;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}


